header {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    width: auto;
    font-size: 100px;
    text-align: center;
}
.Container {
    background-color: orange;
    display: block;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    width: max-content;
    height: auto;
    
}
.main-content{
    display: flex;
    justify-content: center;
}
#screen {
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 98%;
    font-size: 30px;
    font-weight: bold;
}
.keypad {
    background-color: black;
    border-radius: 10px;
    width: max-content;
    padding: 10px;
    margin: 2px;
    display: grid;
    grid-template-columns: repeat(4, 100px)

}
.number, .operator {
    border-radius: 20%;
    background-color: orange;
    color: black;
    text-align: center;
    margin: 10px; 
    border-color: black;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
button:hover {
    background-color: aliceblue;
}
#cancel {
    background-color: red;
    /* grid-column: span 1; */
}
button {
    font-weight: bold;
}